QICORE_BASE_URL=...
QICORE_API_KEY=...

MONGO_URI="..."
MONGO_DB="..."
SERVICES_COLLECTION=...

MONGODB_URI=...
MONGODB_DB=luca_db-dev

LUCA_LOGIN_URL=https://gcp-dev-465219.web.app/auth/signin
LUCA_USERNAME=...
LUCA_PASSWORD=...