# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/
ENV/
env/

# dotenv
.env
.env.*
env.cloudrun.yaml

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/

# Dataset + Administracion
data/
adm/

# Luca reports
luca/reports/output/

# Logs
*.log

# macOS
.DS_Store

# VS Code
.vscode/
results/
env.cloudrun.yaml

# Google Cloud
*.json
