# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/
ENV/
env/

# dotenv
.env
.env.*

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# macOS
.DS_Store

# VS Code
.vscode/
